---
import Container from "@components/Container.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
import { SITE } from "@constants";
---

<footer>
  <Container class="flex items-center justify-between">
    <div>
      &copy; 2025 {`|`}
      {SITE.NAME}
    </div>
    <div class="flex flex-wrap items-center gap-1">
      <ThemeIcon />
    </div>
  </Container>
</footer>
