---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@constants";
---

<header>
  <Container class="flex flex-wrap justify-between gap-y-2">
    <Link href="/" underline={false}>
      <div class="font-semibold text-accent">
        {SITE.NAME}
      </div>
    </Link>
    <nav class="flex gap-1">
      <div class="hidden sm:block">
        <Link href="/"> home</Link>
        <span>/</span>
      </div>
      <Link href="/now"> now</Link>
      <span>/</span>
      <Link href="/work"> work</Link>
      <span>/</span>
      <Link href="/projects"> projects</Link>
      <span>/</span>
      <Link href="/blog"> blog</Link>
    </nav>
  </Container>
</header>
