---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { NOW } from "@constants";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title={NOW.TITLE} description={NOW.DESCRIPTION}>
  <Container class="space-y-8">
    <h1 class="font-semibold text-accent-green">What's going on?</h1>

    <div class="flex flex-col gap-4">
      <section id="location">
        <p>I'm back in South Africa.</p>
      </section>

      <section id="work">
        <p>I'm working for <Link external href="https://bluedot.org/">BlueDot Impact.</Link></p>
        <p>I've also started as a research engineer at <Link external href="https://www.aisafetysa.com/">AI Safety South Africa.</Link></p>
      </section>

      <section id="learning">
        <p>
          I'm learning <Link external href="https://elixir-lang.org/">Elixir</Link> and <Link
            external
            href="https://www.phoenixframework.org/">Phoenix</Link
          >.
        </p>
      </section>

      <section id="building">
        <p>I'm building <Link external href="https://remembook.app">RememBook</Link> and RememCast.</p>
      </section>
    </div>
  </Container>
</BaseLayout>
