---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@constants";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container class="space-y-8">
    <h1 class="font-semibold text-accent">{PROJECTS.TITLE}</h1>
    <ul class="flex flex-col gap-4">
      {
        projects.map((project) => (
          <li>
            <ArrowCard entry={project} />
          </li>
        ))
      }
    </ul>
  </Container>
</BaseLayout>
